.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat .top {
  padding: 20px 20px 27px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chat .top .user img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .top .user .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat .top .user .texts span {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.chat .top .user .texts p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
  margin: 0px;
}

.chat .top .icons {
  display: flex;
  gap: 20px;
}

.chat .top .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat .center {
  padding: 20px;
  flex: 1;
  overflow-y: scroll; /* Vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  display: flex;
  flex-direction: column;
}

.chat .center::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.chat .center::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.chat .center::-webkit-scrollbar-thumb {
  background-color: rgba(108, 117, 125, 0.5); /* Scrollbar thumb color */
  border-radius: 20px; /* Roundness of the scrollbar thumb */
  border: 3px solid transparent; /* Padding around the scrollbar thumb */
}

.chat .center .message {
  max-width: 70%;
  display: flex;
  gap: 10px;
}

.chat .center .message.own {
  align-self: flex-end;
}

.chat .center .message.own .texts p {
  background-color: #5183fe;
}

.chat .center .message img {
  margin-top: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .center .message .texts {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat .center .message .texts img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.chat .center .message .texts p {
  padding: 10px;
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 10px;
  margin-bottom: 6px;
}

.chat .center .message .texts span {
  font-size: 13px;
}

.chat .bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dddddd35;
  gap: 20px;
  margin-top: auto;
}

.chat .bottom .icons {
  display: flex;
  gap: 20px;
}

.chat .bottom img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat .bottom input {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.chat .bottom input:disabled {
  cursor: not-allowed;
}

.chat .bottom .emoji {
  position: relative;
}

.chat .bottom .emoji .picker {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.chat .bottom .sendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat .bottom .sendButton:disabled {
  background-color: #5182feb4;
  cursor: not-allowed;
}
